<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702758401668-gf1pefspe0su0ddmksk41daj3dkhl0hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702758401668-gf1pefspe0su0ddmksk41daj3dkhl0hq</string>
	<key>API_KEY</key>
	<string>AIzaSyC9i8rMWvoVDkAhd10He8Tni9q8cpNoukk</string>
	<key>GCM_SENDER_ID</key>
	<string>702758401668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pulszao.investing</string>
	<key>PROJECT_ID</key>
	<string>investing-446bc</string>
	<key>STORAGE_BUCKET</key>
	<string>investing-446bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702758401668:ios:e66884145c0cdf2c1734d1</string>
</dict>
</plist>